<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
    window.linkedinlogoURL = "<%= image_url('linkedin.png') %>"
    window.githublogoURL = "<%= image_url('github.png') %>"
    window.angellogoURL = "<%= image_url('angel.png') %>"
    window.fundaylogoURL = "<%= image_url('flogo.png') %>"
    window.fundaybiglogoURL = "<%= image_url('funday.png') %>"
    window.fundaybiglogoURL = "<%= image_url('funday.png') %>"
    window.fourBoxes = "<%= image_url('4boxes.png') %>"
    window.personLogo = "<%= image_url('personempty.svg') %>"
</script>

<div id="root"></div>